.text-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 10px;
    overflow: hidden;
}

.upper-text {
    background-color: blue;
    color: white;
    font-size: 18px;
    border-radius: 5px 5px 0 0;
    max-height: 100px;
    overflow-y: auto;
}

.lower-text {
    background-color: lightgray;
    color: black;
    font-size: 14px;
    border-radius: 0 0 5px 5px;
    display: -webkit-box;
    max-height: 100px;
    overflow-y: auto;
}
